// @import "bulma/css/bulma.min.css";
@import "bulma-extensions/bulma-timeline/dist/css/bulma-timeline.min.css";
// @import "font-awesome/css/font-awesome.min.css";

// colors
$gray-1: #f5f5f5;

html,
body {
  height: 100%;
  background-color: $gray-1;
}

.hero.is-info {
  background-color: #3366cc;
}

.company {
  .subtitle {
    font-weight: normal;
    margin-bottom: 5px;
  }
}

.tree-map__title {
  text-align: center;
  margin: 15px 0 5px;
}

.data-value {
  span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  &:before{
    content: attr(data-description)
  }
}

table th {
  min-width: 100px;
  &:hover{
    cursor: pointer
  }
}

@media screen and (max-width: 1024px) {
  .dropdown,
  .dropdown-trigger {
    width: 100%;
  }

  #search {
    width: 100%;
  }
}
